# Ninja and clangd stuff.
.ninja_log
.cache
compile_commands.json

# GL3W script.
gl3w_gen.py

# Compiled files.
build

# 3rd-party files, GL3W, etc.
**/vendor

# Vulkan-related 3rd-party headers.
include/vk_mem_alloc.h
include/volk.h

# logs
**/*.log

# temporary stuff, etc.
.local
