# Ninja and clangd stuff.
.ninja_log
.cache
compile_commands.json

# GL3W script.
gl3w_gen.py

# Compiled files.
build

# 3rd-party files, GL3W, etc.
**/vendor
!./vendor

# Vulkan-related 3rd-party headers.
include/vk_mem_alloc.h
include/volk.h

# Logs
**/*.log

# Temporary stuff, etc.
.local

# MacOS
**/.DS_Store

# Sometimes I'm lazy.
nohup.out

# XCode Debug Schemes for MoltenVK debugging.
*.xcscheme

# This is in the source tree, but writes are ignored.
ninja/set-platform.ninja
