[submodule "vendor/owl"]
	path = vendor/owl
	url = https://github.com/ianh/owl.git
	ignore = untracked
[submodule "vendor/dear_bindings"]
	path = vendor/dear_bindings
	url = https://github.com/dearimgui/dear_bindings
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = v1.91.4-docking
[submodule "giraffe"]
	path = giraffe
	url = https://codeberg.org/monomere/giraffe
